body {
  font-family: 'Raleway', sans-serif;
  background: #f6f7f9;
}

.container-head {
  margin-top: 64px;
  padding: 0 16px;
  text-align: center;
}

.container-head h1 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.container-head p {
  margin-bottom: 20px;
}

.social-icons a {
  margin: 10px;
}

.social-icons img {
  height: 25px;
}

.container-projects {
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 64px;
  padding: 0 16px;
}

.container-projects h1 {
  text-align: center;
  font-size: 1.4em;
}

.container-projects .list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.container-projects .list article {
  width: 100%;
}

.container-projects .list article a {
  text-decoration: none;
  color: #000000;
  padding: 16px 16px;
  display: block;
}

.container-projects .list article .title {
  display: block;
  font-size: 1.2em;
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .container-projects .list article {
    width: 33%;
  }
}
